# MOT API credentials
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
API_KEY=your_api_key
TOKEN_URL=https://login.microsoftonline.com/your_tenant_id/oauth2/v2.0/token
SCOPE=https://your_scope_url

# FaunaDB credentials
FAUNA_SECRET_KEY=your_fauna_secret_key